.ps__carousel__outer, .ps__carousel__outer * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ps__carousel__outer {
    font: 300 14px/14px Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #333;
}
.ps__carousel__container {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
/*CAROUSEL NEEDED CSS*/
.ps__carousel__outer {
    width: 100%;
    overflow: hidden;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    opacity: 1;
    -webkit-transition: opacity .35s;
    transition: opacity .35s;
    -webkit-overflow-scrolling: touch;
    position: relative;
}
.ps__carousel__mobile__touch {
    padding-bottom: 0 !important;
}
.ps__carousel__inner {
    width: calc(100% - 60px);
    min-width: calc(100% - 60px);
    height: auto;
    padding: 20px 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: opacity .35s;
    transition: opacity .35s;
}
.ps__carousel__mobile__touch .ps__carousel__inner {
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    -webkit-overflow-scrolling: touch;
}
.ps__carousel__arrow {
    width: 30px;
    height: calc(100% - 20px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: opacity .6s;
    z-index: 10;
}
.ps__carousel__mobile__touch .ps__carousel__arrow {
    display: none;
    
}
.ps__carousel__left__arrow {
    left: 0;
    background-image: url('https://www.bodybuilding.com/images/lpimages/optimization/prev.png');
}
.ps__carousel__right__arrow {
    right: 0;
    background-image: url('https://www.bodybuilding.com/images/lpimages/optimization/next.png');
}
.ps__carousel__arrow__faded {
    opacity: 0.2;
}
.ps__carousel__dots {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.ps__carousel__mobile__touch .ps__carousel__dots {
    display: none;
}
.ps__carousel__outer__dot {
    width: 9px;
    height: 9px;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0 5px;
    border-radius: 100px;
    border: 1px solid #5A5A5A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ps__carousel__inner__dot {
    width: 7px;
    height: 7px;
    -ms-flex-item-align: center;
    align-self: center;
    border-radius: 100px;
    background: #FFF;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ps__carousel__inner__dot:hover{
    background: #5A5A5A;
}
.ps__carousel__inner__dot--selected {
    background: #5A5A5A;
}

.ps__carousel-fade {
    opacity: 0 !important;
}
/*CSS FOR FORMATTING TARGETERS*/
.ps__carousel__inner .product:hover .product__name {
  color: #00aeef !important;
  text-decoration: underline !important;
}
.ps__carousel__inner .product {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
  margin: 0 !important;
    padding: 0;
    position: relative !important;
}
.ps__carousel__inner .product::before {
  display: none !important;
}
.ps__carousel__mobile__touch .product {
    width: 180px !important;
    min-width: 180px !important;
    margin: 0 5px !important;
    padding-bottom: 12px !important;
}
.ps__carousel__inner .product__img-wrapper {
    position: relative !important;
    width: 100% !important;
    height: 140px !important;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: center;
}
.product__img {
    max-height: 114px !important;
    max-width: 86px !important;
    margin: 10px auto 0 !important;
    display: block !imvportant;
}
.ps__carousel--loose--images {
    max-height: 82% !important;
    max-width: 85% !important;
}
.ps__carousel__inner .product::before {
  display: none !important;
}
.ps__carousel__inner .vio-text, .ps__carousel__inner .vio-text h3 {
  position: relative !important;
  width: 100% !important;
  font-size: 12px !important;
  min-height: 18px !important;
    background-repeat: no-repeat !important;
}
.ps__carousel__inner .vio-text h3 {
    padding-left: 15px !important;
    margin: -3px 0 0 !important;
}
.ps__carousel__inner .product__free-shipping-badge {
  margin-top: 8px !important;
}
.ps__carousel__inner .vio-text--vio-green:before {
  width: 13px !important;
  height: 14px !important;
}
.ps__carousel__inner .product__rating-n-view-product {
  position: absolute !important;
  top: 4px !important;
  right: 14px !important;
  max-height: 24px !important;
  width: 30px !important;
}
.ps__carousel__inner .product__name {
  margin: 2px 0 0 0 !important;
  color: #00aeef !important;
  font: 100 15px/20px ProximaNova, ProximaNovaReg, arial, sans-serif !important;
  max-width: 180px !important;
  -webkit-transition: color .3s !important;
  transition: color .3s !important;
  min-height: 40px !important;
}
.ps__carousel__inner .product__brand {
  font: 400 12px/14px ProximaNova, ProximaNovaReg, arial, sans-serif !important;
  color: #5a5a5a !important;
  margin: 2px 0 0 !important;
}
.ps__carousel__inner .product__rating__review-badge, .ps__carousel__inner .product__rating__rating-badge {
    margin-right: 0 !important;
    width: 100% !important;
    text-align: center !important;
    border: 1px solid #c8c8c8 !important;
    font-family: ProximaNovaSemibold, Arial, sans-serif !important;
    font-weight: 400 !important;
    border-radius: 4px !important;
    color: #5a5a5a !important;
    padding: 0px 3px !important;
    display: block !important;
    width: 28px !important;
    min-width: 28px !important;
    height: auto !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
}
.ps__carousel__inner .product__rating__review-count {
  display: none !important;
}
.ps__carousel__inner .product .product__rating {
    width: 28px !important;
    min-width: 28px !important;
    height: 28px !important;
    border: none !important;
    margin: 0 !important;
    background: #FFF !important;
    position: relative !important;
    right: 0 !important;
    top: 0 !important;
    font-size: 14px !important;
    padding: 0 !important;
}
.ps__carousel__inner .product__description,
.ps__carousel__inner .product__price,
.ps__carousel__inner .product__view-product-link {
  display: none !important;
}
/*END PINT SLIDER CSS*/